<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VVTStore</title>
    <!-- boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- app css -->
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <div class="container">
        <!-- main header -->
        
            
            <!-- mid header -->
        <div class="bg-main">
            <div class="mid-header container">
                <a href="#" class="logo">VVTStore</a>
                <ul class="user-menu">

                    <li><a href="#"><i class='bx bx-user-circle'></i></a></li>
                
                </ul>
            </div>
        </div>
        
        <!-- end mid header -->
        {{{body}}}
    </div>

    <script src="/js/login.js" >
      
    </script>
</body>

</html>