<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favi/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favi/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favi/favicon-16x16.png">
<link rel="manifest" href="/favi/site.webmanifest">
    <title>VTTStore | {{title}}</title>
    <!-- boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- app css -->
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/app.css">
    {{#unless development}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8YCQ31Z6KE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8YCQ31Z6KE');
    </script>
    {{/unless}}
</head>

<body>

    <!-- header -->
    {{> header}}
    <!-- end header -->
    <!-- hero section -->
    {{{body}}}
    <!-- end blogs -->

    <!-- footer -->
    <!-- footer -->
    {{> footer}}
    <!-- end footer -->

    <!-- app js -->
    <script src="/js/app.js"></script>
    <script src="/js/filter.js"></script>
</body>

</html>