<div class="container-fluid">
    <div class="text-center">
        <div class="error mx-auto" data-text="404">ERROR</div>
        <p class="lead text-gray-800 mb-5">OOPS! Somethings went wrong</p>
        <p class="text-gray-500 mb-0">{{content}}</p>
        <a href="/">&larr; Back to Dashboard</a>
    </div>
</div>