<div class="bg-main">
    <div class="container">
        <div class="box">
            <div class="breadcumb">
                <a href="./trang-chu.html">Trang chủ</a>
                <span><i class='bx bxs-chevrons-right'></i></span>
                <a href="./chinh-sach-doi-tra-hoan-tien.html">Chính Sách Đổi-Trả-Hoàn Tiền</a>

            </div>
        </div>

        <h1 class="section-header">
            Chính Sách Đổi-Trả-Hoàn Tiền
        </h1>
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <div class="return-exchange-info">
                    <h3>1. Thời gian giải quyết đổi trả</h3>

                    <table>
                        <tr>
                            <th></th>
                            <th>Đơn hàng của quý khách được giao hàng thành công</th>
                            <th>Đơn hàng quý khách đang trên đường đi</th>
                        </tr>
                        <tr>
                            <td>Thời gian giải quyết</td>
                            <td>Tối đa 30 ngày.</td>
                            <td>Khi nhận được yêu cầu từ quý khách</td>
                        </tr>
                        <tr>
                            <td>Nội dung được giải quyết</td>
                            <td>Theo hiện trạng đơn hàng cần đổi/trả. (xem cụ thể tại #2 điều kiện đổi trả)</td>
                            <td>Chúng tôi chỉ hỗ trợ quý khách đổi mặt hàng khác để phù hợp hơn với nhu cầu của quý
                                khách/hủy đơn hàng(*)</td>
                        </tr>

                    </table>
                    <br>
                    <h3>2. Điều kiện đổi trả</h3>
                    <p>VVTStore.com hỗ trợ đổi/ trả sản phẩm cho quý khách nếu:
                        <br>
                        - Sản phẩm còn nguyên bao bì như hiện trạng ban đầu.
                        <br>
                        - Sản phầm còn đầy đủ phụ kiện, quà tặng khuyến mãi kèm theo.
                        <br>
                        - Hóa đơn GTGT ( nếu có)
                    </p>
                    <h3>3. Chính sách đổi trả</h3>
                    <p>Tất cả các đơn hàng đổi trả cần được chụp hình và gửi email về info@VVTStore.com với tiêu đề “Đổi
                        Trả Đơn Hàng #100xxx”:
                        <br>
                        - Chụp hình về tình trạng sản phẩm, nêu rõ lỗi kỹ thuật nếu có.
                        <br>
                        - Chụp hình về tình trạng bao bì, chú ý các điểm như:
                        <br>
                        + Sách có được bọc màng co hay không?
                        <br>
                        + Hộp có được chèn lót giấy vụn để bảo vệ khi vận chuyển hay không?
                        <br>
                        + Hộp bị ướt …?
                    </p>
                    <br>
                    <table>
                        <tr>
                            <th></th>
                            <th>Nội dung đổi/ trả sản phẩm</th>
                            <th>Cách thức xử lý</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lỗi kỹ thuật của sản phẩm - do nhà cung cấp (sách thiếu trang, sút gáy, trùng nội dung,
                                sản phẩm điện tử không hoạt
                                động..)</td>
                            <td>
                                <p>VVTStore.com có sản phẩm→ đổi mới cùng sản phẩm
                                    <br>
                                    VVTStore.com hết hàng→ Hoàn tiền (*)/ Quý khách có thể chọn mặt hàng khác tại
                                    website www.VVTStore.com.
                                </p>
                            </td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Sản phẩm hỏng do quý khách</td>
                            <td>Không hỗ trợ đổi/ trả</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Lý do đổi/trả sản phẩm như: khách đặt nhầm hoặc không còn nhu cầu.</td>
                            <td>
                                <p>
                                    Sản phẩm phải còn nguyên vẹn, không có dấu hiệu đã qua sử dụng, còn đầy đủ phụ kiện
                                    và quà tặng kèm (nếu có).
                                    <br>
                                    Hỗ trợ thu hồi và hoàn tiền 100% giá trị sản phẩm cho quý khách hàng.
                                    <br>
                                    **Lưu ý: VVTStore.com rất tiếc sẽ không hỗ trợ hoàn lại chi phí vận chuyển trong đơn
                                    hàng cho trường hợp này.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Giao nhầm/ giao thiếu ( thiếu sản phẩm đã đặt, thiếu phụ kiện, thiếu quà tặng kèm theo)
                            </td>
                            <td>
                                <p>
                                    Giao nhầm → Đổi lại đúng sản phẩm đã đặt.
                                    <br>
                                    Giao thiếu → Giao bù thêm số lượng còn thiếu theo đơn hàng
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Chất lượng hàng hóa kém do vận chuyển</td>
                            <td>Khi quý khách hàng nhận gói hàng bị móp méo, ướt, chúng tôi khuyến cáo khách hàng nên
                                kiểm tra thực tế hàng hóa bên
                                trong ngay thời điểm nhận hàng, vui lòng phản ảnh hiện trang hàng hóa lên bill nhận hàng
                                từ phía nhân viên giao nhận và
                                liên lạc với chúng tôi về Hotline 1900-636467 trong vòng 48h để được hỗ trợ giải quyết
                                cụ thể.</td>

                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Hình thức sản phẩm không giống mô tả ban đầu</td>
                            <td>Hãy liên hệ với chúng tôi qua số Hotline 1900636467, chúng tôi sẵn sàng lắng nghe và
                                giải quyết cho bạn ( cụ thể theo
                                từng trường hợp)</td>
                        </tr>
                    </table>
                    <h3>4. Cách thức chuyển sản phẩm đổi trả về VVTStore.com</h3>
                    <p>
                        - Khi yêu cầu đổi trả được giải quyết, quý khách vui lòng đóng gói sản phẩm như hiện trạng khi
                        nhận hàng ban đầu (bao
                        gồm sản phẩm, quà tặng, phụ kiện kèm theo sản phẩm,…nếu có).
                        <br>
                        + Hóa đơn giá trị gia tăng của VVTStore.com
                        <br>
                        + Phụ kiện đi kèm sản phẩm và quà tặng khuyến mãi kèm theo (nếu có)
                    </p>
                </div>
            </div>
        </div>
    </div>