<div id='login-form' class='login-page'>
    <div class="form-box">
        <div class='button-box'>
            <div id='btn'></div>
            <button type='button' onclick='login()' class='toggle-btn'>Đăng nhập</button>
            <button type='button' onclick='register()' class='toggle-btn'>Đăng ký</button>
        </div>
        <form id='login' class='input-group-login'>
            <input type='text' class='input-field' placeholder='Email' required>
            <input type='password' class='input-field' placeholder='Mật khẩu' required>
            <input type='checkbox' class='check-box'><span>Ghi nhớ mật khẩu</span>
            <button type='submit' class='submit-btn'>Đăng nhập</button>
        </form>
        <form id='register' class='input-group-register'>
            <input type='text' class='input-field' placeholder='Tên' required>
            <input type='email' class='input-field' placeholder='Email' required>
            <input type='password' class='input-field' placeholder='Nhập mật khẩu' required>
            <input type='password' class='input-field' placeholder='Nhập lại mật khẩu' required>
            <input type='checkbox' class='check-box'><span>Tôi đồng ý các điều khoản và dịch vụ</span>
            <button type='submit' class='submit-btn'>Đăng ký</button>
        </form>
    </div>
</div>