<div class="bg-main">
    <div class="container">
        <div class="box">
            <div class="breadcumb">
                <a href="./lien-he.html">Liên hệ</a>
            </div>
        </div>

        <h1 class="section-header">
            Liên hệ với chúng tôi
        </h1>
        <div class="row">
            <div class="col-9 col-sm-12">
                <div class="contact-note">
                    <h1>ĐẶT HÀNG TRÌ HOÃN DO KHỐI LƯỢNG LỚN</h1>
                    <p style="color: var(--warning);"> Phản hồi có thể chậm hơn bình thường do khối lượng đặt hàng cao
                        và hoạt động của khách hàng. Các phản hồi có thể mất từ ​​48 đến 72 giờ. Nếu quý khách cần hỗ
                        trợ nhanh hơn, vui lòng liên hệ với chúng tôi theo số điện thoại 0942234123, Thứ Hai -
                        Thứ Bảy từ 10 giờ sáng - 6 giờ chiều, hoặc Chủ nhật từ trưa - 4 giờ chiều. Cảm ơn vì sự kiên
                        nhẫn của quý khách.</p>
                    <br>

                    <p><span>Chúng tôi đánh giá cao ý kiến ​​của quý khách.</span> Chúng tôi muốn nghe ý kiến ​​của quý
                        khách về VVTStore
                        .Câu hỏi, nhận xét và đề xuất của quý khách sẽ giúp chúng tôi phục vụ quý khách tốt hơn.</p>
                    <br>

                    <p><span>Xin lưu ý:</span> Nếu quý khách quan tâm đến phản hồi, quý khách phải cung cấp địa chỉ
                        email. (Chúng tôi sẽ không sử dụng email của quý khách cho bất cứ
                        việc gì ngoại trừ việc trả lời câu hỏi, bình luận của quý khách.)
                    </p>
                </div>

            </div>
            <div class="col-3 col-sm-12">
                <div class="contact-info">
                    <h1>Mailing address</h1>
                    <p><span>VVTStore Gò Vấp:</span> vvtstoregv@store.com</p>
                    <p><span>VVTStore Quận 5:</span> vvtstoreq5@store.com</p>
                </div>
                <div class="contact-info">
                    <h1>Phone</h1>
                    <p><span>VVTStore Gò Vấp:</span> 0912561222</p>
                    <p><span>VVTStore Quận 5:</span> 0942234123</p>
                </div>
            </div>
        </div>

        <div class="row bg-form">
            <div class="col-md-12 col-sm-12">
                <form>
                    <div class="row">
                        <div class="col-6 col-md-6 col-sm-12">
                            <input class="form-control" type="text" placeholder="Name" name="name">
                        </div>
                        <div class="col-6 col-md-6 col-sm-12">
                            <input class="form-control" type="text" placeholder="Email" name="email">
                        </div>
                        <div class="col-6 col-md-6 col-sm-12">
                            <input class="form-control" type="text" placeholder="Phone" name="phoneNumber">
                        </div>
                        <div class="col-6 col-md-6 col-sm-12">
                            <input class="form-control" type="text" placeholder="Subject" name="subject">
                        </div>
                        <div class="col-12 col-md-12 col-sm-12">
                            <textarea class="textarea" placeholder="Message" name="message"></textarea>
                        </div>
                    </div>
                </form>
                <div class="form-btn">
                    <button class="btn-flat btn-hover">Gửi</button>
                </div>
            </div>
        </div>
    </div>
</div>