<div class="bg-main">
    <div class="container">
        <div class="box">
            <div class="breadcumb">
                <a href="./trang-chu.html">Trang chủ</a>
                <span><i class='bx bxs-chevrons-right'></i></span>
                <a href="./thoi-gian-lam-viec.html">Thời gian làm việc</a>

            </div>
        </div>

        <h1 class="section-header">
            Thời gian làm việc
        </h1>
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <div class="store-hours-info">
                    <h2>VVTStore Gò Vấp</h2>
                    <div class="row">
                        <div class="col-6 col-md-6 col-sm-12">
                            <h3>Địa chỉ</h3>
                            <p>192 Lý Chính Thắng, Phường 10, Quận 5, Thành phố Hồ Chí Minh, VN</p>
                            <h3>Số điện thoại</h3>
                            <p>0912561222</p>
                        </div>
                        <div class="col-6 col-md-6 col-sm-12">
                            <h3>Giờ làm việc</h3>
                            <p>Thứ 2-Thứ 6: 10am–5pm</p>
                            <p>Thứ 7: 10am–3pm</p>
                            <p>Chủ nhật: Đóng cửa</p>
                        </div>
                    </div>

                    <h2>VVTStore Quận 5</h2>
                    <div class="row">
                        <div class="col-6 col-md-6 col-sm-12">
                            <h3>Địa chỉ</h3>
                            <p>33 Quang Trung, Phường 6, Quận Gò Vấp, Thành phố Hồ Chí Minh, VN</p>
                            <h3>Số điện thoại</h3>
                            <p>0942234123</p>
                        </div>
                        <div class="col-6 col-md-6 col-sm-12">
                            <h3>Giờ làm việc</h3>
                            <p>Thứ 2-Thứ 6: 8:30am–5pm</p>
                            <p>Thứ 7: 8:30am–3pm</p>
                            <p>Chủ nhật: Đóng cửa</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>