<li class="mega-dropdown">
    <a href="/tat-ca-san-pham">Sản phẩm<i class='bx bxs-chevron-down'></i></a>
    <div class="mega-content">
        <div class="row">
            <div class="col-3 col-md-12">
                <div class="box">
                    <h3><a href="/category/tai-nghe">Tai nghe</a></h3>
                    <ul>
                        <li><a href="#">Tai nghe True Wireless</a></li>
                        <li><a href="#">Tai nghe Earbud</a></li>
                        <li><a href="#">Tai nghe Bluetooth</a></li>
                        <li><a href="#">Tai nghe Noise Cancelling</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3 col-md-12">
                <div class="box">
                    <h3><a href="/category/may-nghe-nhac">Máy nghe nhạc</a></h3>
                    <ul>
                        <li><a href="#">Máy nghe nhạc Aune</a></li>
                        <li><a href="#">Máy nghe nhạc Benjie</a></li>
                        <li><a href="#">Máy nghe nhạc Cayin</a></li>
                        <li><a href="#">Máy nghe nhạc Colorfly</a></li>
                        <li><a href="#">Máy nghe nhạc Cowon</a></li>
                        <li><a href="#">Máy nghe nhạc FiiO</a></li>
                        <li><a href="#">Máy nghe nhạc HiBy</a></li>
                        <li><a href="#">Máy nghe nhạc Hidizs</a></li>
                        <li><a href="#">Máy nghe nhạc Hifiman</a></li>
                        <li><a href="#">Máy nghe nhạc iBasso</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-3 col-md-12">
                <div class="box">
                    <h3><a href="/category/loa">Loa</a></h3>
                    <ul>
                        <li><a href="#">Loa Ultimate Ears</a></li>
                        <li><a href="#">Loa Astell&Kern</a></li>
                        <li><a href="#">Loa Bose</a></li>
                        <li><a href="#">Loa Creative</a></li>
                        <li><a href="#">Loa Edifier</a></li>
                        <li><a href="#">Loa Harman Kardon</a></li>
                        <li><a href="#">Loa JBL</a></li>
                        <li><a href="#">Loa Marshall</a></li>
                        <li><a href="#">Loa Skullcandy</a></li>
                        <li><a href="#">Loa Sony</a></li>
                        <li><a href="#">Loa LG</a></li>
                        <li><a href="#">Loa SMSL</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-3 col-md-12">
                <div class="box">
                    <h3><a href="/category/microphone">Microphone</a></h3>
                    <ul>
                        <li><a href="#">Microphone Razer</a></li>
                        <li><a href="#">Microphone Kingston HyperX</a></li>
                        <li><a href="#">Microphone Audio-technica</a></li>
                        <li><a href="#">Microphone AKG</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row img-row">
            <div class="col-3">
                <div class="box">
                    <img src="/images/Tai_nghe.png" alt="Tai nghe">
                </div>
            </div>
            <div class="col-3">
                <div class="box">
                    <img src="/images/May_nghe_nhac.png" alt="Máy nghe nhạc">
                </div>
            </div>
            <div class="col-3">
                <div class="box">
                    <img src="/images/Loa.jpg" alt="Loa">
                </div>
            </div>
            <div class="col-3">
                <div class="box">
                    <img src="/images/Microphone.jpg" alt="Microphone">
                </div>
            </div>
        </div>
    </div>
</li>