<header>
    <!-- mobile menu -->
    <div class="mobile-menu bg-second">
        <a href="/" class="mb-logo">VVTStore</a>
        <span class="mb-menu-toggle" id="mb-menu-toggle">
            <i class='bx bx-menu'></i>
        </span>
    </div>
    <!-- end mobile menu -->
    <!-- main header -->
    <div class="header-wrapper" id="header-wrapper">
        <span class="mb-menu-toggle mb-menu-close" id="mb-menu-close">
            <i class='bx bx-x'></i>
        </span>
        <!-- mid header -->
        <div class="bg-main">
            <div class="mid-header container">
                <a href="/" class="logo">VVTStore</a>
                <div class="search">
                    <input type="text" placeholder="Search">
                    <i class='bx bx-search-alt'></i>
                </div>
                <ul class="user-menu">
                    {{#if user}}

                    <li><a href="/users/notifications"><i class='bx bx-bell'></i></a></li>
                    <li><a href="/users/cart"><i class='bx bx-cart'></i></a></li>
                    <li><a href="/users/profile">{{user.name}}</a></li>
                    <li><a href="/auth/logout"><i class='bx bx-log-out'></i></a></li>

                    {{else}}
                    <li><a href="/auth/login">Đăng nhập</i></a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
        <!-- end mid header -->
        <!-- bottom header -->
        <div class="bg-second">
            <div class="bottom-header container">
                <ul class="main-menu">
                    <li><a href="/">Trang chủ</a></li>
                    <!-- mega menu -->
                    {{> dropdown}}
                    <!-- end mega menu -->
                    <li><a href="/intro">Giới thiệu</a></li>
                    <li><a href="/contact">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        <!-- end bottom header -->
    </div>
    <!-- end main header -->
</header>