<div class="container-fluid">
    <div class="row justify-content-md-center mt-5">
        <div class="col col-lg-4">
            <h1 class="text-center login-title">Thêm sản phẩm</h1>
            <div class="account-wall">
                <form>
                    <div class="form-group">
                        <label>Tên sản phẩm<span
                                class="text-danger"
                            >*</span></label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Danh mục<span
                                class="text-danger"
                            >*</span></label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Mô tả<span class="text-danger">*</span></label>
                        <textarea type="text" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Hãng sản xuất<span
                                class="text-danger"
                            >*</span></label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>Giá nhập<span
                                    class="text-danger"
                                >*</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    required
                                />
                                <div class="invalid-feedback">
                                    Vui lòng điền giá, giá phải lớn hơn 0
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Giá bán hiện tại<span
                                    class="text-danger"
                                >*</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    required
                                />
                                <div class="invalid-feedback">
                                    Vui lòng điền giá, giá phải lớn hơn 0
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Số lượng nhập vào<span
                                    class="text-danger"
                                >*</span></label>
                            <div class="input-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    required
                                />
                                <div class="invalid-feedback">
                                    Vui lòng điền giá, giá phải lớn hơn 0
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center"><button
                            class="btn btn-primary"
                            type="submit"
                        >
                            Thêm</button></div>
                </form>
            </div>

        </div>
    </div>
</div>