<div id="login-form" class="login-page">
    <div class="form-box">
        <h1 class="tc">{{title}}</h1>
        {{#if notExist}}
            <p id="mess-content" class="center-box">Tài khoản không tồn tại!</p>
        {{/if}}
        <form
            method="post"
            action="/auth/forgot-password"
            id="login"
            class="input-group-login"
        >
            <input
                type="text"
                name="email"
                class="input-field"
                placeholder="Email"
                required
            />
            <button type="submit" class="submit-btn">Gửi mật khẩu mới</button>

        </form>
    </div>
</div>