<div id="login-form" class="login-page">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" onclick="login()" class="toggle-btn">Đăng nhập</button>
            <button type="button" onclick="register()" class="toggle-btn">Đăng
                ký</button>
        </div>
        {{#if success}}
            <p>Đăng ký thành công!</p>
        {{/if}}
        {{#if failure}}
            <p>Đã có lỗi sảy ra. Vui lòng thử lại!</p>
        {{/if}}
        {{#if wrong}}
            <p>Tên đăng nhập hoặc mật khẩu không chính xác!</p>
        {{/if}}
        {{#if exist}}
            <p>Tên đăng nhập hoặc email đã tồn tại!</p>
        {{/if}}
        {{#if emptyData}}
            <p>Vui lòng điền đầu đủ thông tin!</p>
        {{/if}}
        {{#if logout}}
            <p>Đăng xuất thành công!</p>
        {{/if}}
        <form
            method="post"
            action="/auth/login"
            id="login"
            class="input-group-login"
        >
            <input
                type="text"
                name="username"
                class="input-field"
                placeholder="Email"
                required
            />
            <input
                type="password"
                name="password"
                class="input-field"
                placeholder="Mật khẩu"
                required
            />
            {{! <input type='checkbox' class='check-box'><span>Ghi nhớ mật khẩu</span> }}
            <button type="submit" class="submit-btn">Đăng nhập</button>
        </form>
        <form
            id="register"
            method="post"
            action="/auth/register"
            class="input-group-register"
        >
            <input
                name="name"
                type="text"
                class="input-field"
                placeholder="Tên"
                required
            />
            <input
                name="username"
                type="text"
                class="input-field"
                placeholder="Tên đăng nhập"
                required
            />
            <input
                name="email"
                type="email"
                class="input-field"
                placeholder="Email"
                required
            />
            <input
                name="password"
                type="password"
                class="input-field"
                placeholder="Nhập mật khẩu"
                required
            />
            <input
                type="password"
                class="input-field"
                placeholder="Nhập lại mật khẩu"
                required
            />
            <input type="checkbox" class="check-box" /><span>Tôi đồng ý các điều
                khoản và dịch vụ</span>
            <button type="submit" class="submit-btn">Đăng ký</button>
        </form>
    </div>
</div>