<div id="login-form" class="login-page">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button id="login-toggle-btn" type="button" class="toggle-btn">Đăng
                nhập</button>
            <button id="register-toggle-btn" class="toggle-btn">Đăng ký</button>
        </div>
        <div id="mess-list">
            {{#if success}}
                <p class="mess-content center-box">Đăng ký thành công!</p>
            {{/if}}
            {{#if change}}
                <p class="mess-content center-box">Đổi mật khẩu thành công, vui
                    lòng đăng nhập lại!</p>
            {{/if}}
            {{#if payment}}
                <p class="mess-content center-box">Vui vòng đăng ký hoặc đăng
                    nhập để thanh toán!</p>
            {{/if}}
            {{#if resetSuccess}}
                <p class="mess-content center-box">Mật khẩu mới đã được gửi về
                    email thành công!</p>
            {{/if}}
            {{#if failure}}
                <p class="mess-content center-box">Đã có lỗi sảy ra. Vui lòng
                    thử lại!</p>
            {{/if}}
            {{#if wrong}}
                <p class="mess-content center-box">Tên đăng nhập hoặc mật khẩu
                    không chính xác!</p>
            {{/if}}
            {{#if exist}}
                <p class="mess-content center-box">Tên đăng nhập hoặc email đã
                    tồn tại!</p>
            {{/if}}
            {{#if emptyData}}
                <p class="mess-content center-box">Vui lòng điền đầu đủ thông
                    tin!</p>
            {{/if}}
            {{#if logout}}
                <p class="mess-content center-box">Đăng xuất thành công!</p>
            {{/if}}
        </div>
        <form
            method="post"
            action="/auth/login"
            id="login"
            class="input-group-login"
        >
            <input
                type="text"
                name="username"
                class="input-field"
                placeholder="Tên đăng nhập"
                required
            />
            <input
                type="password"
                name="password"
                class="input-field"
                placeholder="Mật khẩu"
                required
            />
            {{! <input type='checkbox' class='check-box'><span>Ghi nhớ mật khẩu</span> }}
            <button type="submit" class="submit-btn">Đăng nhập</button>
            <a href="/auth/forgot-password">
                <text>Quên mật khẩu?</text>
            </a>
        </form>

        <form
            id="register"
            method="post"
            action="/auth/register"
            class="input-group-register"
        >
            <input
                name="name"
                type="text"
                class="input-field"
                placeholder="Tên"
                required
            />
            <input
                name="username"
                type="text"
                class="input-field"
                placeholder="Tên đăng nhập"
                required
            />
            <input
                name="email"
                type="email"
                class="input-field"
                placeholder="Email"
                required
            />
            <input
                name="password"
                type="password"
                class="input-field"
                placeholder="Nhập mật khẩu"
                required
            />
            <input
                type="password"
                class="input-field"
                placeholder="Nhập lại mật khẩu"
                required
            />
            <input type="checkbox" class="check-box" /><span>Tôi đồng ý các điều
                khoản và dịch vụ</span>
            <button type="submit" class="submit-btn">Đăng ký</button>
        </form>
    </div>
</div>