<div class="bg-main">
    <div class="container">
        <div class="box">
            <div class="breadcumb">
                <a href="/">Trang chủ</a>
                <span><i class='bx bxs-chevrons-right'></i></span>
                <a href="/category/may-nghe-nhac">Máy nghe nhạc</a>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-3 filter-col" id="filter-col">
                    <div class="box filter-toggle-box">
                        <button class="btn-flat btn-hover" id="filter-close">close</button>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Danh mục
                        </span>
                        <ul class="filter-list">

                            <li><a href="/category/tai-nghe">Tai nghe</a></li>
                            <li class="active"><a href="/category/may-nghe-nhac">Máy nghe nhạc</a></li>
                            <li><a href="/category/loa">Loa</a></li>
                            <li><a href="/category/microphone">Microphone</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Giá
                        </span>
                        <div class="price-range">
                            <input type="text">
                            <span>-</span>
                            <input type="text">
                        </div>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Trạng thái
                        </span>
                        <ul class="filter-list">
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="status1">
                                    <label for="status1">
                                        Đang giảm giá
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="status2">
                                    <label for="status2">
                                        Còn hàng
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="status3">
                                    <label for="status3">
                                        Hết hàng
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Hãng
                        </span>
                        <ul class="filter-list">
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember1">
                                    <label for="remember1">
                                        Aune
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember2">
                                    <label for="remember2">
                                        Benjie
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember3">
                                    <label for="remember3">
                                        Cayin
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember4">
                                    <label for="remember4">
                                        Colorfly
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember5">
                                    <label for="remember5">
                                        Cowon
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember6">
                                    <label for="remember6">
                                        FiiO
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember7">
                                    <label for="remember7">
                                        HiBy
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember8">
                                    <label for="remember8">
                                        Hidizs
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember9">
                                    <label for="remember9">
                                        Hifiman
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember10">
                                    <label for="remember10">
                                        IBasso
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>



                </div>
                <div class="col-9 col-md-12">
                    <div class="box filter-toggle-box">
                        <button class="btn-flat btn-hover" id="filter-toggle">filter</button>
                    </div>
                    <div class="box">
                        <div class="row" id="products"></div>
                    </div>
                    {{> pagination}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/pagination.js"></script>
<script src="/js/products.js"></script>