<div class="container-fluid">
    <div class="row justify-content-md-center mt-5">
        <div class="col col-lg-3">
            <h1 class="text-center login-title">Đăng nhập</h1>
            <div class="account-wall">
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label>Tên đăng nhập<span
                                class="text-danger"
                            >*</span></label>
                        <input
                            name="username"
                            type="text"
                            class="form-control"
                        />
                        <div class="invalid-feedback">
                            Vui lòng điền tên đăng nhập
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu<span
                                class="text-danger"
                            >*</span></label>
                        <input
                            name="password"
                            type="password"
                            class="form-control"
                        />
                        <div class="invalid-feedback">
                            Vui lòng điền mật khẩu
                        </div>
                    </div>
                    <div class="row justify-content-md-center"><button
                            class="btn btn-primary"
                            type="submit"
                        >
                            Đăng nhập</button></div>

                    <div class="form-row">
                        <div class="form-group">
                            <input type="checkbox" value="remember-me" />

                            <label class="checkbox pull-left">
                                Lưu mật khẩu
                            </label>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>